* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

body {
  -webkit-font-smoothing: antialiased;
}

body,
input,
button {
  font: 16px Roboto, sans-serif;
}

html,
body,
#root {
  height: 100%;
}

div {
  border: 1px solid red;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: space-around;
}

h1 {
  size: 32px;
  margin-bottom: 16px;
}

label {
  margin-bottom: 2px;
}

input {
  flex: 1;
  height: 70px;
  width: 400px;
  border-radius: 15px;
  padding: 0 24px;
}

p {
  margin-top: 10px;
}
